{% extends 'base.html' %}

{% block page_content %}
<p>You may use the form below to reset your password.</p>
<div id="password-form-container" class="col-md-6">
    <form action="{{ url_for('auth.password') }}" method="post" class="form" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group{% if form.email.errors %} has-error{% endif %}">
            {{ form.email.label(class_='control-label') }}
            {{ form.email(class_='form-control') }}
            {% for message in form.email.errors %}
            <p class="help-block">{{ message }}</p>
            {% endfor %}
        </div>
        <a class="btn btn-default" href="{{ url_for('auth.login') }}">
            Cancel
        </a>
        {{ form.submit(class_='btn btn-default') }}
    </form>
</div>
{% endblock page_content %}
