{% extends "base.html" %}

{% block page_actions %}
{{ super() }}
<a href="{{ url_for('dash.new_question') }}" class="btn btn-default">New Question</a>

{% if questions|length > 0 %}
<a href="{{ url_for('dash.purge_questions') }}" class="btn btn-danger">Purge Questions</a>
{% else: %}
<a href="{{ url_for('dash.import_questions') }}" class="btn btn-success">Import Questions</a>
{% endif %}
{% endblock page_actions %}


{% block page_content %}
{{ super() }}
<table class="table table-hover">
    <caption>{{ questions|length }} question{{ '' if questions|length == 1 else 's' }} in document store.</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>Question</th>
        </tr>
    </thead>
    <tbody>
        {% for q in questions: %}
        <tr>
            <td class="col-md-2">{{ q._id }}</td>
            <td class="col-md-10"><a href="{{ url_for('dash.question', qid=q._id) }}">{{ q.question }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock page_content %}