{% extends "base.html" %}


{% block page_actions %}
{{ super() }}

{% if profile.pushed: %}
<a href="{{ url_for('dash.pull_profile', pid=profile.id) }}" class="btn btn-danger">Pull from RS</a>
{% else: %}
<a href="{{ url_for('dash.push_profile', pid=profile.id) }}" class="btn btn-danger">Push to RS</a>
{% endif %}

<a href="{{ url_for('dash.delete_profile', pid=profile.id) }}" class="btn btn-danger">Delete</a>
{% endblock page_actions %}


{% block page_content %}
{{ super() }}
<div class="col-md-{{ 12 if profile.pushed else 6 }}">
    <form method="post" class="form" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group
                        {% if form.name.errors %} has-error{% endif %}
                        {% if form.name.flags.required %} required{% endif %}">
            {{ form.name.label(class_='control-label') }}
            {{ form.name(class_='form-control') }}
            {% for message in form.name.errors %}
            <p class="help-block">{{ message }}</p>
            {% endfor %}
        </div>
        
        <a role="button" class="btn btn-default"
                href="{{ url_for('dash.profiles')}}">
                Cancel
        </a>
        {{ form.submit(class_='btn btn-default') }}
    </form>
</div>
{% endblock page_content %}

{% block sidebar_right %}
<div class="panel panel-default">
    <div class="panel-heading">Profiling Statement</div>
    <div id="k-ua-container" class="panel-body">
        
    </div>
</div>
{% endblock sidebar_right %}

{% block scripts_inner %}
<script type="text/javascript">
FlaskData.pid = "{{ profile.rs_id }}";
FlaskData.pushed = "{{ profile.pushed }}";
</script>
{% assets "krs_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock scripts_inner %}